/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg{
    background:#F08080	;
}
.ex1 {
    margin: 0 50px;
}
 p{
    color: blue;
}
button {
    background-color: green !important;
}
.tongLuong{
    width: 100%;
    height: 10px;
    background-color: yellow !important;
} */